<div>
  <table
    style="
      font-family: Segoe UI, SegoeUIWF, Arial, sans-serif;
      font-size: 12px;
      color: #333333;
      border-spacing: 0;
      border-collapse: collapse;
      padding: 0;
      width: 580px;
      direction: ltr;
    "
  >
    <tbody>
      <tr style="background-color: #39c5bb">
        <td style="padding: 0">
          <table
            style="
              font-family: Segoe UI, SegoeUIWF, Arial, sans-serif;
              border-spacing: 0;
              border-collapse: collapse;
              width: 100%;
            "
          >
            <tbody>
              <tr>
                <td
                  style="
                    font-size: 38px;
                    color: #ffffff;
                    padding: 12px 22px 4px 22px;
                  "
                  colspan="3"
                >
                  安全代码
                </td>
              </tr>
              <tr>
                <td
                  style="
                    font-size: 20px;
                    color: #ffffff;
                    padding: 0 22px 18px 22px;
                  "
                  colspan="3"
                ></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 30px 20px;
            border-bottom-style: solid;
            border-bottom-color: #39c5bb;
            border-bottom-width: 4px;
          "
        >
          <table
            style="
              font-family: Segoe UI, SegoeUIWF, Arial, sans-serif;
              font-size: 12px;
              color: #333333;
              border-spacing: 0;
              border-collapse: collapse;
              width: 100%;
            "
          >
            <tbody>
              <tr>
                <td style="font-size: 16px; padding: 0 0 15px 0">
                  您正在请求以下安全代码以进行 {purpose}。
                </td>
              </tr>
              <tr>
                <td
                  style="font-size: 30px; padding: 0 0 15px 0; color: gray"
                  font-weight="bold"
                  id="captcha"
                >
                  {captcha}
                </td>
              </tr>
              <tr>
                <td style="font-size: 14px; padding: 0 0 30px 0">
                  请求此安全代码的设备访问来自于 {ip}
                </td>
              </tr>
              <tr>
                <td style="font-size: 12px; padding: 0 0 15px 0">
                  此安全代码将在 5 分钟内过期。
                </td>
              </tr>
              <tr>
                <td style="font-size: 12px; padding: 0">
                  如果您未发起此请求，则可以安全地忽略此封邮件。此邮件来自于一个无人值守的邮件地址，请勿回复此邮件。
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 0 10px 0"></td>
      </tr>
      <tr>
        <td style="padding: 0 0 15px 0; color: #b2b2b2; font-size: 12px">
          以上， <br />
          Greedy Nattinessers 团队
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 0 0 10px 0;
            color: #b2b2b2;
            font-size: 12px;
            text-align: right;
          "
        >
          版权所有 &copy; Greedy Nattinessers 2024
          <br />
        </td>
      </tr>
    </tbody>
  </table>
</div>
